<h1>Your Following users</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
  </aside>
  <div class="col-md-8">
　  <section class="stats">
      <% if @users.any? %>
      　<div class="user_avatars">
          <% @users.each do |user| %>
          　<div class="row">
          　   <div class="col-md-12">
            　　<%= link_to gravatar_for(user, size: 80), user %>
            　</div>
            </div>
          <% end %>
        </div>
      <% end %>
　  </section>
　</div>
</div>